@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2hypyb');
  src:  url('../fonts/icomoon.eot?2hypyb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2hypyb') format('truetype'),
    url('../fonts/icomoon.woff?2hypyb') format('woff'),
    url('../fonts/icomoon.svg?2hypyb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$white: #fff;
$white40: rgba(255, 255, 255, 0.4);
$grey: #333;
$dark: #000;
$dark85: rgba(0, 0, 0, 0.85);
$dark50: rgba(0, 0, 0, 0.5);
$green: #1ed400;
$green40: rgba(30, 212, 0, 0.4);
$cyan: #027FA5;
$white-smoke: #D5D8DB;

@mixin Roboto($fs, $fw, $lh){
  font-family: 'Roboto Slab', serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin Lora($fs, $fw, $lh){
  font-family: 'Lora', serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin Lato($fs, $fw, $lh){
  font-family: 'Lato', sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin Quicksand($fs, $fw, $lh){
  font-family: 'Quicksand', sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin flex($jc, $ai, $gp){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gp;
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

[class^="icon-"], [class*="icon-"]{
  font-family: 'icomoon' !important ;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}

.nav{
  @include flex(center,center ,56px );
  &__item{
    &-link{
      @include Lato(22px,500 ,normal )

    }
  }
}
.langBar{
  @include flex(center,center ,4 );
}

.social{
  @include flex(center,center ,32px );
  &__item{
    &-link{
      font-size: 24px;
    }
  }
}

.logo{
  @include Roboto(32px,700 ,32px );
}

.btn{
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  @include Lato(16px, 900, 16px );
  border: 0px ;
}

.header{
  @include flex(space-around,center,0px);
  background: $dark85 ;
  padding: 36px 0;
  position: relative;
  &__logo{
    color: $white;
  }


  .nav{
    &__item{
      &-link{
        color: $white;
      }
    }
  }

  .social{
    &__item{
      &-link{
        color: $white;
      }
    }
  }
}

.bg-photo{
  background: url('../img/bg1.png') no-repeat;
  background-size: cover;
  min-width: 100%;
  width: 100%;
  min-height: 964px;
  @include flex(center,center ,72px );
  flex-direction: column;
  margin-top: -119px;

  
  .call-to-action{
    @include flex(center, center , 32px );
    flex-direction: column;
    background-color: $dark85;
    padding: 48px;
    margin-top: 100px;
  
    h1{
      @include Lora(84px, 700 , 100px );
      color: $white;
      text-transform: uppercase;
      text-align: center;
    }
    
    span{
      @include Lato(24px,400 ,normal );
      color: $white;
    }
    
    .btn{
      padding: 21px 110px;
    }
  }
}

.info{
  @include flex(center,center ,64px );
  flex-direction: column;
  padding: 144px 141px 120px 141px ;
  background-color: $white;
  
  &__text{
    @include flex(center,center ,32px );
    flex-direction: column;
    
    h1{
      @include Roboto(56px,700 ,normal );
      color: $grey
    }
    
    span{
      @include Quicksand(20px, 500,32px );
      color: $grey;
      max-width: 1066px;
      text-align: center;
    }
  }

  &__img{
    @include flex(space-around,center ,130px );
    
    &-block{
      @include flex(center,center ,23px );
      flex-direction: column;
      
      .number{
        @include Roboto(144px,700 ,normal );
        color: $green;

      }
      
      svg{
        margin-top: -125px;
        position: relative;
      }

      .text{
        @include Quicksand(40px,400 ,32px );
        color: $grey;
      }
    }
  }
}

.barcelona{
  @include flex(center,center ,35px );
  flex-direction: column;
  background: url('../img/bg2.png');
  min-width: 100%;
  width: 100%;
  min-height: 758px;
  background-size: cover;
  
  &__name{
    @include flex(center,center ,16px );
    flex-direction: column;

    &-trip{
      @include Roboto(56px,700 ,normal );
      text-transform: uppercase;
      color: $white;
    }

    &-h1{
      @include Roboto(144px,700 ,144px );
      text-transform: uppercase;
      color: $white;
    }

    &-date{
      @include Quicksand(24px,500 ,18px );
      color: $white;
    }
  }
  
  &__text{
    @include flex(center,center ,16px );
    flex-direction: column;
    span{
      @include Quicksand(24px, 400,22px );
      text-align: center;
      color: $white;
      max-width: 1066px;
    }
    hr{
      width: 300px;
      background-color: $white;
      height: 3px;
    }
  }
  
  &__btn-block{
    @include flex(center,center ,24px );
    flex-direction: column;
    
    span{
      @include Quicksand(28px,500 ,32px );
      text-transform: uppercase;
      color: $white;
    }
    
    .barcelona__btn{
      padding: 19px 50px;
    }
  }
}

.popular{
  @include flex(center,center ,50px );
  flex-direction: column;
  padding: 125px 150px 72px 150px;
  
  &__name{
    @include flex(center,center ,40px );
    flex-direction: column;
    .popular__name-h1{
      @include Roboto(56px, 700,normal );
      text-transform: uppercase;
      color: $grey;
    }

    .popular__img{
      @include flex(center,center ,40px );
      span{
        background-color: $dark85;
        color: $white;
        padding: 5px 8px;
        grid-area: 2 / 1 / 2 / 1;
        @include Roboto(18px,400 ,18px );
        color: $white;
      }
      
      &-1{
        background: url('../img/bg3.png');
        width: 514px;
        height: 342px;
        background-size: cover;
        display: grid;
        grid-template-rows: 10px 28px 1fr;
        grid-template-columns: 294px 1fr;
      }

      &-2{
        background: url('../img/bg4.png');
        width: 514px;
        height: 342px;
        background-size: cover;
        display: grid;
        grid-template-rows: 10px 28px 1fr;
        grid-template-columns: 271px 1fr;
      }

      &-3{
        background: url('../img/bg5.png');
        width: 514px;
        height: 342px;
        background-size: cover;
        display: grid;
        grid-template-rows: 10px 28px 1fr;
        grid-template-columns: 183px 1fr;
      }
    }
  }

  &__btn-block{
    @include flex(center,center ,8px );
    flex-direction: column;
    .btn{
      padding: 19px 62px;
    }
    span{
      text-align: center;
      @include Quicksand(14px,500 ,18px );
      color: $grey;
    }
  }
}

.stories{
  @include flex(center,center ,32px );
  flex-direction: column;
  padding: 48px 150px 64px 150px;
  background: $green40 url('../img/bg6.png');
  background-size: cover;
  
  height: 560px;
  
  &__name{
    @include flex(center,center ,40px );
    flex-direction: column;
    .stories__name-h1{
      @include Roboto(56px, 700,normal );
      text-transform: uppercase;
      color: $white;
    }

    .stories__img{
      @include flex(center,center ,112px );
      span{
        background-color: $dark85;
        color: $white;
        padding: 5px 8px;
        grid-area: 2 / 2 / 2 / 2;
        @include Lato(14px,500 ,normal );
        color: $white;
      }

      svg{
        grid-area: 4 / 4 / 4 / 4;

      }
      
      &-1{
        background: url('../img/vd1.png');
        width: 441px;
        height: 294px;
        background-size: cover;
        display: grid;
        grid-template-rows: 10px 25px 95px 34px 1fr;
        grid-template-columns: 8px 134px 82px 34px 1fr;
      }

      &-2{
        background: url('../img/vd2.png');
        width: 514px;
        height: 342px;
        background-size: cover;
        display: grid;
        grid-template-rows: 10px 25px 120px 40px 1fr;
        grid-template-columns: 8px 169px 60px 40px 1fr;
      }

      &-3{
        background: url('../img/vd3.png');
        width: 441px;
        height: 294px;
        background-size: cover;
        display: grid;
        grid-template-rows: 10px 25px 93px 34px  1fr;
        grid-template-columns:8px  176px 20px 34px 1fr;
      }
    }
  }
}

.footer{
  @include flex(space-around,center,0px);
  background: url(../img/imgMountains\ 1.png) ;
  background-size:cover;
  background-repeat: no-repeat;
  padding: 96px 0;
  &__logo{
    color: $dark;
  }


  .nav{
    &__item{
      &-link{
        color: $dark;
      }
    }
  }

  .social{
    &__item{
      &-link{
        color: $dark;
      }
    }
  }
}