@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@700&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?2hypyb");
  src: url("../fonts/icomoon.eot?2hypyb#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2hypyb") format("truetype"), url("../fonts/icomoon.woff?2hypyb") format("woff"), url("../fonts/icomoon.svg?2hypyb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

[class^=icon-], [class*=icon-] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-vk:before {
  content: "\e902";
}

.icon-youtube:before {
  content: "\e903";
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.nav__item-link {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}

.langBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.social__item-link {
  font-size: 24px;
}

.logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.btn {
  background-color: #1ed400;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  border: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  background: rgba(0, 0, 0, 0.85);
  padding: 36px 0;
  position: relative;
}
.header__logo {
  color: #fff;
}
.header .nav__item-link {
  color: #fff;
}
.header .social__item-link {
  color: #fff;
}

.bg-photo {
  background: url("../img/bg1.png") no-repeat;
  background-size: cover;
  min-width: 100%;
  width: 100%;
  min-height: 964px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  flex-direction: column;
  margin-top: -119px;
}
.bg-photo .call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 48px;
  margin-top: 100px;
}
.bg-photo .call-to-action h1 {
  font-family: "Lora", serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 100px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.bg-photo .call-to-action span {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.bg-photo .call-to-action .btn {
  padding: 21px 110px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-direction: column;
  padding: 144px 141px 120px 141px;
  background-color: #fff;
}
.info__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
}
.info__text h1 {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  color: #333;
}
.info__text span {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  max-width: 1066px;
  text-align: center;
}
.info__img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 130px;
}
.info__img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  flex-direction: column;
}
.info__img-block .number {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  line-height: normal;
  color: #1ed400;
}
.info__img-block svg {
  margin-top: -125px;
  position: relative;
}
.info__img-block .text {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
}

.barcelona {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
  background: url("../img/bg2.png");
  min-width: 100%;
  width: 100%;
  min-height: 758px;
  background-size: cover;
}
.barcelona__name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}
.barcelona__name-trip {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
.barcelona__name-h1 {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  line-height: 144px;
  text-transform: uppercase;
  color: #fff;
}
.barcelona__name-date {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
}
.barcelona__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}
.barcelona__text span {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #fff;
  max-width: 1066px;
}
.barcelona__text hr {
  width: 300px;
  background-color: #fff;
  height: 3px;
}
.barcelona__btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}
.barcelona__btn-block span {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
}
.barcelona__btn-block .barcelona__btn {
  padding: 19px 50px;
}

.popular {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  padding: 125px 150px 72px 150px;
}
.popular__name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
.popular__name .popular__name-h1 {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #333;
}
.popular__name .popular__img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.popular__name .popular__img span {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 5px 8px;
  grid-area: 2/1/2/1;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #fff;
}
.popular__name .popular__img-1 {
  background: url("../img/bg3.png");
  width: 350px;
  height: 250px;
  background-size: cover;
  display: grid;
  grid-template-rows: 10px 28px 1fr;
  grid-template-columns: 201px 1fr;
}
.popular__name .popular__img-2 {
  background: url("../img/bg4.png");
  width: 350px;
  height: 250px;
  background-size: cover;
  display: grid;
  grid-template-rows: 10px 28px 1fr;
  grid-template-columns: 186px 1fr;
}
.popular__name .popular__img-3 {
  background: url("../img/bg5.png");
  width: 350px;
  height: 250px;
  background-size: cover;
  display: grid;
  grid-template-rows: 10px 28px 1fr;
  grid-template-columns: 128px 1fr;
}
.popular__btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.popular__btn-block .btn {
  padding: 19px 62px;
}
.popular__btn-block span {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #333;
}

.stories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  padding: 48px 150px 64px 150px;
  background: rgba(30, 212, 0, 0.4) url("../img/bg6.png");
  background-size: cover;
  height: 560px;
}
.stories__name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
.stories__name .stories__name-h1 {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}
.stories__name .stories__img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.stories__name .stories__img span {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 5px 8px;
  grid-area: 2/2/2/2;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
.stories__name .stories__img svg {
  grid-area: 4/4/4/4;
}
.stories__name .stories__img-1 {
  background: url("../img/vd1.png");
  width: 300px;
  height: 200px;
  background-size: cover;
  display: grid;
  grid-template-rows: 10px 25px 43px 34px 1fr;
  grid-template-columns: 8px 109px 10px 34px 1fr;
}
.stories__name .stories__img-2 {
  background: url("../img/vd2.png");
  width: 350px;
  height: 250px;
  background-size: cover;
  display: grid;
  grid-template-rows: 10px 25px 66px 40px 1fr;
  grid-template-columns: 8px 135px 20px 40px 1fr;
}
.stories__name .stories__img-3 {
  background: url("../img/vd3.png");
  width: 300px;
  height: 200px;
  background-size: cover;
  display: grid;
  grid-template-rows: 10px 25px 50px 34px 1fr;
  grid-template-columns: 8px 142px 1px 34px 1fr;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  background: url(../img/imgMountains\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 0;
}
.footer__logo {
  color: #000;
}
.footer .nav__item-link {
  color: #000;
}
.footer .social__item-link {
  color: #000;
}/*# sourceMappingURL=style.css.map */